#container { behavior: url(resources/iepngfix.htc); }
#container .captioned-photo img { behavior: url(resources/iepngfix.htc); }
#container .caption { font-style: normal; }
#container #grid-toggle { margin: 0 10px; width: 120px; }
